# Logs
**/logs
**/*.log
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/pnpm-debug.log*
**/lerna-debug.log*
**/yarn.lock
**/esbuild-kit

**/node_modules
**/dist
**/dist-ssr
**/*.local
**/auto-imports.d.ts
**/components.d.ts

# Editor directories and files
**/.vscode/*
**/!.vscode/extensions.json
**/.idea
**/.DS_Store
**/*.suo
**/*.ntvs*
**/*.njsproj
**/*.sln
**/*.sw?

# go
**/go.sum
#**/vendor哦