@use "../colors";

@forward 'element-plus/theme-chalk/src/common/var.scss' with (
  $colors: (
    'primary': (
      'base': colors.get('teal-500'),
    ),
    'success': (
      'base': colors.get('green-500'),
    ),
    'warning': (
      'base': colors.get('yellow-500'),
    ),
    'danger': (
      'base': colors.get('red-500'),
    ),
    'error': (
      'base': colors.get('red-500'),
    ),
    'info': (
      'base': colors.get('sky-500'),
    ),
  ),
  $button-padding-horizontal: (
    'default': 16px,
  ),
  // Break-point
  $sm: theme('screens.sm'),
  $md: theme('screens.md'),
  $lg: theme('screens.lg'),
  $xl: theme('screens.xl'),
  $header: (
    height: 4rem,
    padding: 0 theme('spacing.6')
  ),
  $main: (
    padding: theme('spacing.6')
  ),
  $footer: (
    height: 4rem,
    padding: 0 theme('spacing.6')
  ),
  $font-family: (
    '': "lxgwwenkai-regular, JetBrainsMono-Regular, JetBrainsMono-Regular, avenir, "helvetica neue", helvetica, ubuntu, roboto, noto, "segoe ui", arial, sans-serif"
  ),
  $menu: (
    'item-height': 48px,
    'base-level-padding': 12px,
    'icon-width': 16px,
  )
);

@use "dark-var";