@use './global';

@forward 'element-plus/theme-chalk/src/common/var.scss' with (
  $colors: (
    'primary': (
      'base': green,
    ),
  ),
);

.el-header, .el-footer {
  --el-header-padding: 0;
  height: auto;
}

.gitter-open-chat-button {
  @apply px-4 py-1;
}
