@forward "taillwind";
@forward "element-plus/theme-chalk/src/dark/css-vars.scss";
@forward "./element/supplement.scss";
@forward "common/scrollbar";
@forward "common/transition";
@forward "root";

* {
  @apply box-border;
}

body {
  @apply bg-body common-text;
  color: var(--el-text-color-primary);
  background-color: var(--el-bg-color);
  &:before { // 毛玻璃背景 y方向150避免移动端滚动时底部出现白边
    @apply fixed transform scale-x-105 scale-y-150;
  }
}

html, body, #app, .app {
  @apply h-full m-0;
  @apply text-base font-normal antialiased ;
  font-family: var(--el-font-family);
}
.app {
  & > div {
    @apply h-full;
  }
  .root-with-no-micro {
    @apply p-4;
  }

  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px var(--el-bg-color) inset; /* 设置为需要的背景色 */
  }
}