:root {
  --bg-color-mute: #f2f2f2;
  --text-color-light: var(--el-text-color-primary);
  --text-color: var(--el-text-color-primary);
  --bg-color: var(--el-bg-color);
}

html.dark {
  --el-bg-color: #141414;
  --bg-color-mute: #2c2c2c;
  --el-text-color-primary: #E5EAF3;
  --el-border-color: #4C4D4F;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

body {
  color: var(--text-color);
  background-color: var(--bg-color);
}