.in-from-right {
  animation: in-from-right 0.5s;
}

.in-from-left {
  animation: in-from-left 0.5s;
}

.out-to-right {
  animation: out-to-right 0.5s;
}

.out-to-left {
  animation: out-to-left 0.5s;
}



@keyframes in-from-right {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes in-from-left {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes out-to-right {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

@keyframes out-to-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}